<title>订单管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>订单管理</cite></a>
        <a><cite>退货订单</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                lay-filter="layadmin-userfront-formlist">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <select name="paymenttype_name" id="paymenttype_name" lay-search=""></select>
                    </div>

                    <div class="layui-inline">
                        <select name="is_shipping"  lay-search="">
                            <option value="">是否发货</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>

                    <div class="layui-inline">
                        <input name="start_end_time"  type="text" class="layui-input"
                            id="start_end_time" placeholder=" 开始时间-结束时间 " />
                    </div>

                    <div class="layui-inline">
                        <input type="text" style="min-width:400px" name="keyword"
                            placeholder="请输入状态、订单编号、收货人、手机号码、套装信息关键字" autocomplete="off" class="layui-input" />
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="LAY-user-front-search">
                            搜索
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="LAY-user-front-exportdownpayment">导出退货数据
                        </button>
                    </div>

                </div>
            </div>
            <table id="LAY-user-back-downpayment" lay-filter="LAY-user-back-downpayment"></table>
            <script type="text/html" id="table-useradmin-admin">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="query"
          ><i class="layui-icon layui-icon-edit"></i>查看</a
        >
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"
        ><i class="layui-icon layui-icon-delete"></i>删除</a
      >
      </script>
        </div>
    </div>
</div>

<script>
    layui
        .use("downpayment", layui.factory("downpayment"))
        .use(["admin", "downpayment", "table"], function () {
            var $ = layui.$,
                admin = layui.admin,
                view = layui.view,
                table = layui.table,
                form = layui.form;

            //事件
            var active = {};
            $(".layui-btn.layuiadmin-btn-role").on("click", function () {
                var type = $(this).data("type");
                active[type] ? active[type].call(this) : "";
            });
        });
</script>
<style>
    .layui-table .layui-input,
    .layui-table th,
    td {
        text-align: center;
    }

    .layui-btn+.layui-btn {
        margin: 0;
    }
</style>