<div class="memberinfo">

    <div class="layui-form" lay-filter="layuiadmin-form-member" style="padding: 20px 30px 0 0">
        <input type="text" name="order_id" hidden>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">取收金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="cancel_collection_amount" required lay-verify="required" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">付款方式</label>
                <div class="layui-input-inline">
                    <select name="payment_type" id="secondpayment_paymenttype_name" lay-verify="required"
                        lay-search=""></select>
                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="cancel_collection_date" id="test1" placeholder="yyyy-MM-dd" required
                        lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">手续费</label>
                <div class="layui-input-inline">
                    <input type="text" name="cancel_collection_handling_fee" required lay-verify="required"
                        autocomplete=" off" class="layui-input">

                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">真实金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="cancel_collection_true_amount" required lay-verify="required"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa"></label>
                <div class="layui-input-inline">
                    <input type="button" lay-submit lay-filter="LAY-user-cancelcollectionpayment-submit" value="确认"
                        class="layui-btn" />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .aaa {
        width: 100px;
        /* text-align: justify;
        text-align-last: justify; */
    }
</style>

<script>


    layui.use(["admin", "form", "element", "laydate", "upload"], function () {
        let $ = layui.$,
            form = layui.form,
            admin = layui.admin,
            element = layui.element,
            upload = layui.upload,
            laydate = layui.laydate;

        form.render();
        laydate.render({
            elem: '#test1'
        });
        function getsecondPayment(order_id) {
            admin.req({
                moduleurl: 'Cancelcollection/add',
                data: { order_id },
                done: function (res) {
                    const { Paymenttype_list } = res.data
                    let paymenttype_name = '<option value="" selected="">未知</option>';
                    Paymenttype_list.map((item) => {
                        paymenttype_name += `<option value="${item.paymenttype_name}">${item.paymenttype_name}</option>`
                    })
                    $("#secondpayment_paymenttype_name").html(paymenttype_name)
                    form.render('select');
                }
            })
        }
        layui.data.sendParams = function (params) {
            params = params;
            const order_id = params.field.auditId
            $("input[name='order_id']").val(order_id);
            getsecondPayment(order_id)
        };
    })

</script>
<script type="text/html" template lay-done="layui.data.sendParams(d.params)"></script>