<div class="memberinfo">

    <div class="layui-form" lay-filter="layuiadmin-form-member" style="padding: 20px 30px 0 0">

        <input type="text" name="order_id" hidden>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">姓名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" disabled required lay-verify="required" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">拒收退回金额：</label>
                <div class="layui-input-inline">
                    <input type="text" name="rejected_back_amount" required lay-verify="required" autocomplete="off"
                        class="layui-input">

                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">客户银行及卡号：</label>
                <div class="layui-input-inline">
                    <input type="text" name="rejected_back_bank_no" required lay-verify="required"
                        placeholder="格式:中国银行:425000000000" disabled autocomplete=" off" class="layui-input">
                </div>
            </div>
        </div>


        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">退款银行：</label>
                <div class="layui-input-inline">
                    <select name="refund_bank" id="secondpayment_paymenttype_name" lay-verify="required"
                        lay-search=""></select>
                </div>
            </div>
        </div>


        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">退款时间：</label>
                <div class="layui-input-inline">
                    <input type="text" name="retund_date" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa">拒收原因：</label>
                <div class="layui-input-inline">

                    <textarea name="rejected_reason" placeholder="请输入内容" required lay-verify="required"
                        class="layui-textarea"></textarea>
                </div>
            </div>
        </div>

        <div class="layui-col-sm12">
            <div class="layui-form-item">
                <label class="layui-form-label  aaa"></label>
                <div class="layui-input-block">
                    <input type="button" lay-submit lay-filter="LAY-user-show_rejected_add_do-submit" value="出纳确认退款"
                        class="layui-btn" />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .aaa {
        width: 120px;
    }
</style>

<script>


    layui.use(["admin", "form", "element", "laydate", "upload"], function () {
        let $ = layui.$,
            form = layui.form,
            admin = layui.admin,
            element = layui.element,
            upload = layui.upload,
            laydate = layui.laydate;
            laydate.render({
                elem: "#test1"
                , value: admin.dateFormat()
                , isInitValue: true
            });
        form.render();
        function getsecondPayment(order_id) {
            admin.req({
                moduleurl: 'Rejected/show',
                data: { order_id },
                done: function (res) {
                    const { Paymenttype_list } = res.otherdata
                    const { name, rejected_back_amount, rejected_back_bank_no, rejected_reason } = res.data
                    form.val("layuiadmin-form-member", {
                        name: name,
                        rejected_back_amount: rejected_back_amount,
                        rejected_back_bank_no: rejected_back_bank_no,
                        rejected_reason: rejected_reason
                    })
                    let paymenttype_name = '<option value="" selected="">未知</option>';
                    Paymenttype_list.map((item) => {
                        paymenttype_name += `<option value="${item.paymenttype_name}">${item.paymenttype_name}</option>`
                    })
                    $("#secondpayment_paymenttype_name").html(paymenttype_name)
                    form.render('select');
                }
            })
        }
        layui.data.sendParams = function (params) {
            params = params;
            const order_id = params.field.auditId
            $("input[name='order_id']").val(order_id);
            getsecondPayment(order_id)
        };
    })

</script>
<script type="text/html" template lay-done="layui.data.sendParams(d.params)"></script>