<div>
    <!-- 订单信息 -->
    <script type="text/html">
    </script>
    <div class="order-header">
        <p>
            <script type="text/html" template>
            <pre class="layui-code" lay-title="JavaScript" lay-skin="notepad">
                {{d.params.order_status}}: 订单编号:{{d.params.order_coding}}
            </pre>
            </script>
        </p>
    </div>
    <!-- 订单信息 -->

    <!-- 会员信息 -->
    <div class="memberinfo">

        <div class="layui-form" lay-filter="layuiadmin-form-member" style="padding: 20px 30px 0 0">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>会员信息</legend>
            </fieldset>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="phone" id="phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="name" id="name" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">其他方式</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="other_contact" id="other_contact" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">微信号</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="wechat" id="wechat" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">出生日期</label>
                        <div class="layui-input-inline">
                            <input type="text" disabled name="birth" id="birth" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户来源</label>
                        <div class="layui-input-inline">
                            <select disabled name="customer_source" id="customer_source"> </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户类型</label>
                        <div class="layui-input-inline">
                            <select disabled name="customer_type" id="customer_type"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">拓展时间</label>
                        <div class="layui-input-inline">
                            <input disabled type="text" name="topcustomer_date" id="topcustomer_date" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">QQ号码</label>
                        <div class="layui-input-inline">
                            <input disabled type="text" name="qq_number" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <select disabled name="gender" id="gender"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">推广人</label>
                        <div class="layui-input-inline">
                            <select disabled name="recommenders" id="recommenders"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">会员归属号</label>
                        <div class="layui-input-inline">
                            <select disabled name="belonging_id" id="belonging_id"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">城市</label>
                        <div class="layui-input-inline">
                            <input disabled type="text" name="wechat_city" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm9">
                    <div class="layui-form-item">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                            <input disabled type="text" name="address" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm9">
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input disabled type="text" name="notes" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm9">
                    <div class="layui-form-item">
                        <label class="layui-form-label">生日礼品</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="yyy" lay-skin="switch" lay-text="ON|OFF" checked>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm9">
                    <div class="layui-form-item">
                        <label class="layui-form-label">中秋礼品</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="aaa" lay-skin="switch" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 会员信息 -->

    <!-- 出货单 -->
    <div class="memberinfo">

        <div class="layui-form" lay-filter="layuiadmin-form-member" style="padding: 20px 30px 0 0">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>出货单</legend>
            </fieldset>
            <div class="layui-row layui-col-space10">
                <input type="text" name="id" hidden>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="order_phone" lay-verify="required|phone" autocomplete="off"
                                placeholder="请输入手机号" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">收货人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="order_name" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                </div>
                <!-- 省市县 -->
                <div class="layui-col-sm12">
                    <div class="layui-form-item" id="bioarea-wrap">
                        <label class="layui-form-label add-width required">请选择地区</label>
                        <div class="layui-input-inline">
                            <select lay-filter="province" lay-verify="required" name="province" id="province">
                                <option value="">请选择省</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select lay-filter="city" lay-verify="required" name="city" id="city">
                                <option value="">请选择市</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select lay-filter="district" lay-verify="required" name="district" id="district">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm9">
                    <div class="layui-form-item">
                        <label class="layui-form-label">收货地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="customer_detailed_address" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                </div>
                <!-- 物料采购申请单 -->
                <div class="layui-col-sm12">
                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <div class="layui-panel" id="panel">
                                <div style="padding:30px 15px;" class="table-header">
                                    <div>
                                        <div>
                                            <label for="" style="margin-right: 10px;">商品明细</label>
                                            <select name="product_name" id="product_name" lay-filter="select1"></select>
                                        </div>
                                        <div style="margin-left: 10px;">
                                            <select name="classification_name" style="margin-left: 20px;"
                                                id="classification_name" lay-filter="select2">
                                            </select>
                                        </div>
                                        <div style="margin-left: 10px;" id="suit"> </div>
                                    </div>

                                    <div>
                                        <div>
                                            <label class="layui-form-label"
                                                style="width: 90px;text-align: center;">总计金额:</label>
                                            <div class="layui-input-inline" style="width:auto;">
                                                <input type="text" name="order_product_amount" lay-verify="title"
                                                    autocomplete="off" class="layui-input order_product_amount">
                                            </div>
                                        </div>
                                        <div>
                                            <label class="layui-form-label"
                                                style="width: 90px;text-align: center;">总计数量:</label>
                                            <div class="layui-input-inline" style="width:auto;">
                                                <input type="text" name="product_quantity" lay-verify="title"
                                                    autocomplete="off" class="layui-input product_quantity">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <table id="OrderModelList" cellspacing="0" cellpadding="0" style="width:100%;"
                                    class="layui-form layui-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 6%;">序号</th>
                                            <th style="width: 30%;">商品名称</th>
                                            <th style="width: 7%;">单位</th>
                                            <th style="width: 7%;">数量</th>
                                            <th style="width: 11%;">单价</th>
                                            <th style="width: 11%;">金额</th>
                                            <th style="width: 7%;">赠品</th>
                                            <th style="width: 15%;">赠品原因</th>
                                            <th style="width: 6%;">删除</th>
                                        </tr>
                                    </thead>
                                    <tbody id="render"> </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">积分使用</label>
                        <div class="layui-input-block">
                            <input type="text" name="use_integral_value" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">订单金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="order_amount" autocomplete="off" class="layui-input order_amount">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">付款方式</label>
                        <div class="layui-input-inline">
                            <select name="payment_type" id="paymenttype_name"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">定金</label>
                        <div class="layui-input-inline">
                            <input type="text" name="advance_payment" autocomplete="off"
                                class="layui-input advance_payment">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">代收金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="collection_amount" autocomplete="off"
                                class="layui-input collection_amount">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">提现手续费</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tx_handling_fee" autocomplete="off"
                                class="layui-input tx_handling_fee">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">提现金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tx_true_amount" autocomplete="off"
                                class="layui-input tx_true_amount">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">套装信息</label>
                        <div class="layui-input-inline">
                            <input type="text" name="suit_information" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">业绩归属</label>
                        <div class="layui-input-inline">
                            <select name="performance_attribution" id="performance_attribution">
                                <option value="">请选择</option>
                                <option value="电商客服">电商客服</option>
                                <option value="微信客服">微信客服</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">发送短信?</label>
                        <div class="layui-input-block">
                            <input type="radio" name="send_message" value="0" title="是" checked>
                            <input type="radio" name="send_message" value="1" title="否">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">等通知发货</label>
                        <div class="layui-input-block">
                            <input type="radio" name="what_notification_shipment" value="0" title="是" checked>
                            <input type="radio" name="what_notification_shipment" value="1" title="否">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12">
                    <div class="layui-form-item">
                        <label class="layui-form-label">付款备注</label>
                        <div class="layui-input-inline">
                            <input type="text" name="payment_notes" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">快递公司</label>
                        <div class="layui-input-inline">
                            <select name="express_company" id="express_company_name"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">共享客服</label>
                        <div class="layui-input-inline">
                            <select name="shared_customer_service" id="True_name"></select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm9">
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="order_notes" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm9">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline">
                            <input type="button" lay-submit lay-filter="LAY-user-member-submit" value="确认"
                                class="layui-btn" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 出货单 -->


    <script>
        layui.use(["admin", "form", "element", "laydate", "upload"], function () {
            let $ = layui.$,
                form = layui.form,
                admin = layui.admin,
                element = layui.element,
                upload = layui.upload
            laydate = layui.laydate;
            form.render();

            function orderById(id) {
                if (id == undefined || id == "") {
                    return false;
                }
                admin.req({
                    moduleurl: "Order/modify",
                    async: true,
                    data: { id },
                    done: (res) => {
                        const { phone, name, other_contact, wechat, birth, address, notes, topcustomer_date, customer_source, customer_type, gender, belonging, recommenders, qq_number, wechat_city, province, city, district } = res.data.member
                        const { orderproduct, order_phone, order_name, order_address, customer_detailed_address, use_integral_value, order_product_amount, product_quantity, order_amount, payment_type, advance_payment, collection_amount, tx_handling_fee, tx_true_amount, suit_information, performance_attribution, payment_notes, express_company, shared_customer_service, order_notes, permisssion_btn, id, send_message, what_notification_shipment } = res.data

                        const { Expresscompany_list, Paymenttype_list, Product_list, Productclassification_list, User_list } = res.otherdata

                        $("input[name='send_message']").prop("checked", true)
                        $("input[name='what_notification_shipment']").prop("checked", true)
                        // 会员基本信息
                        // $("input[name='phone']").val(phone);
                        $("input[name='name']").val(name);
                        $("input[name='other_contact']").val(other_contact);
                        $("input[name='wechat']").val(wechat);
                        $("input[name='birth']").val(birth);
                        $("input[name='address']").val(address);
                        $("input[name='notes']").val(notes);
                        $("input[name='topcustomer_date']").val(topcustomer_date);
                        $("select[name='customer_source']").html(`<option value="${customer_source}">${customer_source}</option>`);
                        $("select[name='customer_type']").html(`<option value="${customer_type}">${customer_type}</option>`);
                        $("select[name='gender']").html(`<option value="${gender}">${gender}</option>`);
                        $("select[name='belonging_id']").html(`<option value="${belonging}">${belonging}</option>`);
                        $("select[name='recommenders']").html(`<option value="${recommenders}">${recommenders}</option>`);
                        $("input[name='qq_number']").val(qq_number);
                        $("input[name='wechat_city']").val(wechat_city);
                        // 出货信息
                        $("input[name='id']").val(id);
                        $("input[name='order_phone']").val(order_phone);
                        $("input[name='order_name']").val(order_name);
                        $("input[name='customer_detailed_address']").val(customer_detailed_address);
                        $("input[name='use_integral_value']").val(use_integral_value);
                        $("input[name='order_product_amount']").val(order_product_amount);
                        $("input[name='product_quantity']").val(product_quantity);
                        $("input[name='order_amount']").val(order_amount);
                        $("input[name='advance_payment']").val(advance_payment);
                        $("input[name='collection_amount']").val(collection_amount);
                        $("input[name='tx_handling_fee']").val(tx_handling_fee);
                        $("input[name='tx_true_amount']").val(tx_true_amount);
                        $("input[name='suit_information']").val(suit_information);
                        $("input[name='payment_notes']").val(payment_notes);
                        $("input[name='order_notes']").val(order_notes);
                        // 省市区
                        $("select[name='province']").val(province);
                        $("select[name='city']").html(
                            `<option value='${city}'>${city}</option>`
                        );
                        $("select[name='district']").html(
                            `<option value='${district}'>${district}</option>`
                        );
                        orderproduct.map(item => {
                            const { Giftreason_list } = item
                            let giftreason_name = '<option value=""></option>'
                            Giftreason_list.map((itm) => {
                                if (item.giftreason === itm.giftreason_name) {
                                    giftreason_name += `<option selected value="${itm.giftreason_name}">${itm.giftreason_name}</option>`
                                }
                                giftreason_name += `<option value="${itm.giftreason_name}">${itm.giftreason_name}</option>`

                            })
                            $("#render").append(
                                `
                                  <tr>
                                        <td><input name="serial_number[]" disabled type="text" class="layui-input" value=""></td>
                                        <td><input name="product_name[]" disabled type="text" class="layui-input" value="${item.product_name}"></td>
                                        <td><input name="unit[]" disabled type="text" class="layui-input" value="${item.unit}"></td>
                                        <td><input min=1 name="quantity[]"  type="number"  class="layui-input quantity" value="${item.quantity}"></td>
                                        <td><input name="unit_price[]" disabled  type="text" class="layui-input unit_price"  value="${item.unit_price}"> </td>
                                        <td><input name="total_price[]" disabled type="text" class="layui-input total_price"  value="${item.total_price}"> </td>
                                        <td><input name="giveaway[]" disabled type="text" class="layui-input"  value="${item.giveaway}"> </td>
                                        <td><select name="giftreason[]"  type="text" class="layui-input" value="${giftreason_name}"></select> </td>
                                        <td>
                                        <button type="button"  class="layui-btn  layui-btn-danger"><i class="layui-icon"></i></button>
                                        </td>
                                   </tr>
                                `
                            )
                        })

                        let paymenttype_name = '<option value="" selected="">未知</option>';
                        let express_company_name = '<option value="" selected="">请选择</option>';
                        let True_name = '<option value="" selected="">请选择</option>';
                        let product_name = '<option value="" selected="">选择商品</option>'
                        let classification_name = '<option value="" selected="">选择套餐</option>'

                        Paymenttype_list.map((item) => {
                            paymenttype_name += `<option value="${item.paymenttype_name}">${item.paymenttype_name}</option>`
                        })
                        Product_list.map((item) => {
                            product_name += `<option value="${item.product_name}">${item.product_name}</option>`
                        })
                        Productclassification_list.map((item) => {
                            classification_name += `<option value="${item.classification_name}">${item.classification_name}</option>`
                        })
                        Expresscompany_list.map((item) => {
                            express_company_name += `<option value="${item.express_company_name}">${item.express_company_name}</option>`
                        })
                        User_list.map((item) => {
                            True_name += `<option value="${item.True_name}">${item.True_name}</option>`
                        })
                        $("#paymenttype_name").html(paymenttype_name)
                        $("#express_company_name").html(express_company_name)
                        $("#True_name").html(True_name)
                        $("select[name='product_name']").html(product_name)
                        $("select[name='classification_name']").html(classification_name)
                        $("select[name='payment_type']").val(payment_type);
                        $("select[name='express_company']").val(express_company);
                        $("select[name='shared_customer_service']").val(shared_customer_service)
                        $("select[name='performance_attribution']").val(performance_attribution)
                        form.render();
                        Recosting();
                    }
                })
            }

            //删除行
            $("body").on('click', '.layui-btn-danger', function () {
                var elem = $(this).parent().parent();
                elem.remove();
                Recosting();
                $.total_num_total();
            });

            //数量改变统计
            $("body").on("input propertychange", ".quantity", function () {
                var par_tr = $(this).parent().parent();   //得到当前点击的input父节点的父节点tr   
                var t_quantity = par_tr.find(".quantity").val();
                var t_unit_price = par_tr.find(".unit_price").val();
                par_tr.find(".total_price").val((t_quantity * t_unit_price).toFixed(2));
                $.total_num_total();
            });

            // 订单金额
            $("body").on("input propertychange", ".order_amount", function () {
                $(".collection_amount").val($(this).val() - $(".advance_payment").val())
            });
            // 定金金额
            $("body").on("input propertychange", ".advance_payment", function () {
                $(".collection_amount").val($(".order_amount").val() - $(this).val())
            });
            // 提现金额
            $("body").on("input propertychange", ".tx_true_amount", function () {
                $(".tx_handling_fee").val($(".advance_payment").val() - $(this).val())
            });

            // 总数量  总金额
            $.total_num_total = function () {
                let num_total = 0;
                let total_total = 0;
                $(".quantity").each(function () {
                    const n_total = parseInt($(this).val())
                    if (!n_total) return 0
                    num_total = parseInt(num_total + n_total)
                });
                $(".total_price").each(function () {
                    const t_total = parseFloat($(this).val())
                    if (!t_total) return 0
                    total_total = parseFloat(total_total + t_total);
                });
                $('input[name="product_quantity"]').val(num_total);
                $('input[name="order_product_amount').val((total_total).toFixed(2));
            }

            form.on('select(select1)', function (data) {
                const { value } = data
                if (value === '') { return false; }
                admin.req({
                    moduleurl: 'Order/get_product',
                    data: { product_name: value },
                    done: function (res) {
                        const { id, product_name, unit, quantity, unit_price, total_price, Giftreason_list, giveaway } = res.data
                        let giftreason_name = '<option value="" selected=""></option>'
                        Giftreason_list.map((item) => {
                            giftreason_name += `<option value="${item.giftreason_name}">${item.giftreason_name}</option>`
                        })
                        let Str = `
                           <tr>
                                <td><input name="serial_number[]" disabled type="text" class="layui-input" value=""></td>
                                <td><input name="product_name[]" disabled type="text" class="layui-input" value="${product_name}"></td>
                                <td><input name="unit[]" disabled type="text" class="layui-input" value="${unit}"></td>
                                <td><input min=1 name="quantity[]"  type="number" class="layui-input quantity" value="${quantity}"></td>
                                <td><input name="unit_price[]" disabled type="text" class="layui-input unit_price"  value="${unit_price}"> </td>
                                <td><input name="total_price[]" disabled type="text" class="layui-input total_price"  value="${total_price}"> </td>
                                <td><input name="giveaway[]" disabled type="text" class="layui-input"  value="${giveaway}"> </td>
                                <td><select name="giftreason[]" lay-verify="title">${giftreason_name}</select></td>
                                <td>
                                    <button type="button"  class="layui-btn  layui-btn-danger"><i class="layui-icon"></i></button>
                                </td>
                        </tr> 
                       `
                        $("#render").append(Str)
                        form.render("select");
                        Recosting();
                        $.total_num_total();
                    }
                })
            });

            form.on('select(select2)', function (data) {
                const { value } = data
                $("#suit").html("")
                if (value === '') return false;
                admin.req({
                    moduleurl: 'Order/get_classification_package_name',
                    data: { classification_name: value },
                    done: function (res) {
                        let ipt = "";
                        res.data && $.each(res.data, function (i, v) {
                            ipt += ` <input type="button"   value="${v.package_name}" class="layui-btn package_name" />`
                        })
                        $("#suit").append(ipt)
                    }
                })
            });

            //通过套餐名称获取套餐信息列表
            $("body").on('click', '.package_name', function () {
                const classification_name = $('select[name="classification_name"]').val();
                const package_name = $(this).val();
                admin.req({
                    moduleurl: 'Order/get_product_list',
                    data: { classification_name, package_name },
                    done: function (res) {
                        $.each(res.data, function (i, val) {
                            const { id, product_name, unit, quantity, unit_price, total_price, Giftreason_list, giveaway } = val
                            let giftreason_name = '<option value="" selected=""></option>'
                            $.each(Giftreason_list, function (index, value) {
                                giftreason_name += `<option value="${value.giftreason_name}">${value.giftreason_name}</option>`
                            })
                            let Str = `
                               <tr>
                                    <td><input name="serial_number[]" disabled type="text" class="layui-input" value=""></td>
                                    <td><input style="text-align:center;" name="product_name[]" disabled type="text" class="layui-input" value="${product_name}"></td>
                                    <td><input name="unit[]" disabled type="text" class="layui-input" value="${unit}"></td>
                                    <td><input min=1 name="quantity[]"  type="number" class="layui-input quantity" value="${quantity}"></td>
                                    <td><input name="unit_price[]" disabled type="text" class="layui-input unit_price"  value="${unit_price}"> </td>
                                    <td><input name="total_price[]" disabled type="text" class="layui-input total_price"  value="${total_price}"> </td>
                                    <td><input name="giveaway[]" disabled type="text" class="layui-input"  value="${giveaway}"> </td>
                                    <td><select name="giftreason[]" lay-verify="title">${giftreason_name}</select></td>
                                    <td>
                                        <button type="button"  class="layui-btn  layui-btn-danger"><i class="layui-icon"></i></button>
                                    </td>
                            </tr> 
                           `
                            $("#render").append(Str)
                            form.render("select");
                            Recosting();
                            $.total_num_total();
                        })
                    }
                })
            });

            //重排数量序号
            function Recosting(k = 1) {
                $("input[name='serial_number[]']").each(function () { $(this).attr('value', k); k = ++k; });
            };

            layui.data.sendParams = function (params) {
                params = params;
                orderById(params.id)
            };
        });
    </script>
    <script src="/start/js/area.js"></script>
    <script src="/start/js/select.js"></script>
    <script type="text/html" template lay-done="layui.data.sendParams(d.params)"></script>
    <style>
        .table-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .table-header>div {
            display: flex;
            align-items: center;
        }

        .table-header>div>div {
            display: flex;
            align-items: center;
        }

        .table-header>div:first-child {
            flex: 3;
        }

        .table-header>div:last-child {
            flex: 1;
        }

        .order-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 3px solid #00a65a;
            padding-bottom: 10px;
            align-items: center;
        }

        .layui-col-sm3 {
            display: flex;
            justify-content: center;
        }

        #panel {
            border: #d2d6de solid px;
            border-radius: 10px;
            margin: 10px 0px 10px 0px;
            box-shadow: 0 0 10px rgb(168, 164, 164);
        }

        .layui-col-sm3 {
            display: block;
            justify-content: center;
            width: auto;
        }

        .layui-table .layui-input,
        .layui-table th {
            text-align: center;
        }

        #OrderModelList {
            font-weight: bold;
        }

        .permission_btn {
            display: flex;
            align-items: center;
            display: none;
        }
    </style>
</div>